@charset "utf-8";

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 12px "noto sans korean";
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}



/* 🎨#wrapper */
#wrapper {
    width: 100%;
    height: 100%; 
}

/* 🎈header */
header {
    width: 100%;
    height: auto;
}

header > div {
    width: 100%;
}

header > div > * {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
}

header > div:nth-child(1) {
    height: 44px;
    background-color: #f3f3f3;
}

header > div:nth-child(2) {
    height: 110px;
}
header > div:nth-child(3) {
    height: 46px;
    background-color: #564f47;
}


header .top {
    float: right;
    margin-top: 6px;
}

header .ico {
    margin-right: 30px;
    display: inline-block;
    background-image: url('../images/sprites.png');
}

header .ico.user {
    position: relative;
    top: 5px;
    width: 17px;
    height: 17px;
    background-position: 0 -504px;
}

header .ico.chart {
    width: 17px;
    height: 17px;
    background-position: 0 -487px;
}

header .ico.wish {
    width: 20px;
    height: 18px;
    background-position: 0 -539px
}

header .ico .label {
    position: relative;
    right: -22px;
    top: 2px;
    display: block;
    width: 16px;
    height: 16px;
    background: #ff6e53;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 11px;
}

header section {
    position: relative;
}

header section > .logo {
    position: absolute;
    left: 0;
    bottom: 10px;
}

header section > .banner {
    position: absolute;
    right: 0;
    bottom: 10px;
}


header .gnb {
    width: 100%;
    height: 100%;
}

header .gnb > li {
    float: left;
    width: 16.66%;
    height: 100%;
}

header .gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #b0a171;
    background-color: #464545;
}

header .gnb > li > a:hover {
    background-color: #396340;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}


/* --------------header end---------------- */




/* 🎈main */
main {
    width: 100%;
    height: auto;
}

main > section {
    width: 100%;
    padding: 40px 0;
}

main > section:nth-child(1) {
    height: 480px;
}
main > section:nth-child(2) {
    height: auto;
}
main > section:nth-child(3) {
    height: 620px;
}
main > section:nth-child(4) {
    height: 220px;
}
main > section:nth-child(5) {
    height: auto;
}
main > section:nth-child(6) {
    height: 220px ;
}
main > section:nth-child(7) {
    height: auto;
}

main > section > article {
    width: 1126px;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

main > section > h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 27px;
    color: #564f47;
}

main > section > h3 > strong {
    font-size: 27px;
    font-weight: bold;
    color: #699270;
}


/* ✨main banner */ 
main > .banner {}
main > .banner > article {
    position: relative;
}

main > .banner > article img {
    position: absolute;
}

main > .banner > article > img:nth-child(1) {
    left: 10px;
    top: 40px;
}
main > .banner > article > img:nth-child(2) {
    left: 460px;
    top: 40px;
}
main > .banner > article > img:nth-child(3) {
    right: 10px;
    bottom: 100px;
}


/* ✨main new */
main > .new > article {
    height: 480px;
    border: 1px solid #d4d4d4;
}

main > .new > article > div {
    position: relative;
    float: left;
    width: 345px;
}
main > .new > article > div:nth-child(1) {
    width: 434px;
    height: 100%;
    background-image: url('../images/main_new_img1.jpg');
}

main > .new > article > div:nth-child(2) {
    height: 50%;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

main > .new > article > div:nth-child(3) {
    height: 50%;
}
main > .new > article > div:nth-child(4) {
    height: 50%;
}
main > .new > article > div:nth-child(5) {
    height: 50%;
}

main > .new div > span {
    position: absolute;
}

main > .new div > span > strong {
    font-size: 32px;
    opacity: 1;
    color: #c3d069;
    font-weight: bold;
}

main > .new div > .price {
    color: #ef9120;
    font-size: 30px;
}

main > .new div > .price::after {
    content: '원';
    color: #ef9120;
    font-size: 18px;
}


main > .new div > img {
    position: absolute;
}

main > .new > article > div:nth-child(1) > img {
    left: 0;
    top: 0;
}

main > .new > article > div:nth-child(2) > img {
    left: 20px;
    top: 20px;
}
main > .new > article > div:nth-child(3) > img {
    right: 10px;
    bottom: 10px;
}
main > .new > article > div:nth-child(4) > img {
    right: 0;
    bottom: 0;
}
main > .new > article > div:nth-child(5) > img {
    right: 0;
    bottom: 0;
}


main > .new div:nth-child(1) > .txt {
    left: 40px;
    top: 60px;
    font-size: 27px;
    color: #564f47;
}

main > .new div:nth-child(1) > .tit {
    left: 40px;
    top: 116px;
    font-size: 26px;
    color: white;
    padding: 4px 6px;
    background-image: url(../images/bg_transparent.png);
}

main > .new div:nth-child(1) > .price {
    right: 20px;
    bottom: 20px;
}

main > .new div:nth-child(2) > .txt {
    left: 130px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new div:nth-child(2) > .tit {
    left: 130px;
    top: 90px;
    font-size: 28px;
    color: #899b34;
}

main > .new div:nth-child(2) > .price {
    right: 20px;
    bottom: 20px;
}

main > .new div:nth-child(3) > .txt {
    left: 30px;
    top: 40px;
    font-size: 16px;
    color: #564f47;
}

main > .new div:nth-child(3) > .tit {
    left: 30px;
    top: 70px;
    font-size: 28px;
    color: #358a00;
}

main > .new div:nth-child(3) > .price {
    left: 20px;
    bottom: 20px;
}

main > .new > article > div:nth-child(4) {
    height: 50%;
    border-right: 1px solid #d4d4d4;
}

main > .new div:nth-child(4) > .txt {
    left: 30px;
    top: 30px;
    font-size: 16px;
    color: #564f47;
}

main > .new div:nth-child(4) > .tit {
    left: 30px;
    top: 80px;
    font-size: 28px;
    color: #c51a1a;
}

main > .new div:nth-child(4) > .price {
    left: 30px;
    bottom: 20px;
}

main > .new div:nth-child(5) > .txt {
    left: 30px;
    top: 30px;
    font-size: 16px;
    color: #564f47;
}

main > .new div:nth-child(5) > .tit {
    left: 30px;
    top: 80px;
    font-size: 28px;
    color: #9e7839;
}

main > .new div:nth-child(5) > .price {
    left: 30px;
    bottom: 20px;
}



/* ✨main master */
main > .master {
    background-image: url(../images/main_master_bg.png);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

main > .master > img {
    width: 100%;
    height: auto;    
}

main > .master > article > div {
    float: left;
    width: 25%;
    height: 334px;
    padding: 6px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
}

main > .master p {
    width: 100%;
    height: auto;
    margin-top: 6px;
    font-size: 14px;
    color: #564f47;
    box-sizing: border-box;
}

main > .master p > .name {
    display: block;
    margin-top: 6px;
    font-size: 20px;
    color: #564f47;
}


main > .master > article > div:nth-child(1) {
    border-right: none;
}

main > .master > article > div:nth-child(2) {
    border-right: none;
}

main > .master > article > div:nth-child(3) {
    border-right: none;
}


/* ✨main orgarnic_banner */
main > .organic_banner {
    position: relative;
    background-image: url(../images/main_organic_bg.png);
    background-size: cover;
    background-position: center;
}

main > .organic_banner > img {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -180px;
}


/* ✨main organic */
main > .organic {

}

main .gallary {
    overflow: hidden;
}

main .gallary > div {
    position: relative;
    float: left;
    width: 25%;
    height: 400px;
    padding: 4px;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

main .gallary > div:hover {
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
}

main .gallary > div > img {
    width: 100%;
    height: 265px;
    object-fit: cover;
}

main .gallary > div > span {
    position: absolute;
    display: block;
}

main .gallary > div > .price::after {
    content: '원';
    color: #4f4f4f;
    font-size: 16px;
}

main .gallary > div > .tit {
    left: 4px;
    bottom: 90px;
    font-size: 18px;
    font-weight: bold;
}

main .gallary > div > .txt {
    left: 4px;
    bottom: 64px;
    font-size: 16px;
    color: #747373;
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

main .gallary > div > .price {
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}


/* ✨main grain_banner */
main > .grain_banner {
    position: relative;
    background-image: url(../images/main_grain_bg.png);
    background-size: cover;
    background-position: center;

}
main > .grain_banner > img {
    position: absolute;
    left: 50%;
    top: 50px;
    margin-left: -180px;
}


/* ✨main grain */
main > .grain {}


/* ---------main end-------------- */






/* 🎈footer */
footer {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}

footer > div {
    width: 1126px;
    height: 210px;
    margin: 0 auto;
    padding-top: 20px;
}

footer > div > img {
    float: left;
}
footer > div > p {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #aca9a9;
    text-align: left;
    line-height: 22px;
}