@charset "utf-8 ";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 12px "고딕";
}

ol, 
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #111;
}

input,
textarea {
  outline: none;
}

#wrapper {
    width: 100%;
    height: auto;
}

/* ---------초기화 끝---------- */



/* 🎈header */
header {
    width: 100%;
    height: 80px;
    background: url(../images/header_bg.gif);
    position: relative;
}

header div {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

header .logo {
    margin-top: 6px;
}

header .gnb {
    float: right;
    width: 620px;
    height: 32px;
    margin-top: 14px;
    overflow: hidden;
}

header .gnb > li {
    float: left;
    width: 20%;
    height: 100%;
    text-align: right;
}

header .gnb > li > a {
    text-align: right;
    line-height: 32px;
    font-size: 17px;
    font-weight: bolder;
}

header .gnb > li > a:hover {
    color: #7b231f;
}

header .latest {
    position: relative;
    width: 100%;
    height: 30px;
}

header .latest > div {
    display: flex;
}

header .latest > div a {
    display: inline-block;
    color: #555;
    position: absolute;
    top: 10px;
    left: 95px;
}

header .latest > div a:hover {
    text-decoration: underline;
}

header .latest div > a:nth-child(2) {
  position: absolute;
  left: 0px;
  top: 7px;
   
}

/* ----------header끝--------------- */




/* 🎈main */
main {
    width: 1000px;
    height: auto;
    margin: 5px auto;
}

main > div {
    overflow: hidden;
}


main > div > div {
    border: 1px solid #d7d7d7;
}

main > div .banner {
    float: left;
    width: 588px;
    height: 320px;
    background: url('../images/main_banner_bg.jpg') no-repeat;
    overflow: hidden;
    position: relative;
}

main > div .banner > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ---main banner end-- */

main > div .call {
    float: right;
    width: 406px;
    height: 133px;
    position: relative;
    background-color: #f2f2f2;
}

main > div > .call > img {
    position: absolute;
}

main > div > .call > img:nth-child(1) {
    left: 20px;
    top: 20px;
}

main > div > .call > img:nth-child(2) {
    left: 20px;
    top: 46px;
    z-index: 10;
}

main > div > .call > img:nth-child(3) {
    left: 30px;
    bottom: 20px;
    z-index: 10;
}

main > div > .call > img:nth-child(4) {
    right: 0;
    top: 0;
    z-index: 0;
}
/* -------main call end------- */

main > div .qna {
    float: right;
    width: 406px;
    height: 182px;
    margin-top: 5px;
    padding: 20px;
}

main > div > .qna > h3 {
    font-weight: bold;
    font-size: 14px;
}

main > div > .qna > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 6px;
}

main > div > .qna > table td {
    color: #6a6a6a;
}

main > div > .qna > table td:hover {
    text-decoration: underline;
    cursor: pointer;
}

main > div > .qna > table td:nth-child(2) {
    display: inline-block;
    width: 296px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
}

/* ------main qna end------- */

main > section {
    overflow: hidden;
}

main > section > aside {
    float: left;
    width: 195px;
    height: 760px;
    margin-top: 5px;
    border: 1px solid #d7d7d7;
}

main > section > aside > article {
    width: 100%;
    height: 204px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

main > section > aside > article > h3 {
    font-weight: bold;
    font-size: 14px;
}

main > section > aside > article > ul {
    margin-top: 6px;
}

main > section > aside > article > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 20px;
}
main > section > article > ul > li > a:hover {
    text-decoration: underline;
}

main > section > aside > article > ul li:hover {
    text-decoration: underline;
}

main > section > aside > article > ul > li > a::before {
    content: url(../images/ico_latest.gif);
}

main > section > aside > article > a {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #d9d9d9;
    margin-top: 6px;
    font-size: 0;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 10px center;
}

main > section > aside > article > a:nth-of-type(1) {
    background-image: url(../images/aside_quick_court.png);
}

main > section > aside > article > a:nth-of-type(2) {
    background-image: url(../images/aside_quick_google.png);
}

main > section > aside > article > a:nth-of-type(3) {
    background-image: url(../images/aside_quick_naver_map.png);
}

main > section > aside > article > a:nth-of-type(4) {
    background-image: url(../images/aside_quick_naver_subway.png);
}

main > section > aside > a {
    position: relative;
    left: -1px;
    display: block;
    width: 195px;
    height: 83px;
    border: 1px solid #999;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6px;
}

main > section > aside > a > img:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 10px;
}

main > section > aside > a > img:nth-child(2) {
    float: right;
}

main > section > aside > .banner {
    position: relative;
    left: -1px;
    width: 195px;
    height: 167px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-top: 6px;
    background-image: url(../images/aside_banner_bg.jpg);
}


main > section > aside > .banner > img:nth-child(1) {
    float: right;
}

main > section > aside > .banner > img:nth-child(2) {
    margin-left: 10px;
    margin-top: 30px;
}

main > section > aside > .banner > a > img {
    margin-left: 10px;
    margin-top: 10px;
}
/* -----------section aside end-------------- */


main > section > article {
    float: right;
    width: 800px;
    height: 250px;
    margin-top: 5px;
    padding: 16px;
    border: 1px solid #d7d7d7;
}

main > section > article > h3 {
    font-weight: bold;
    font-size: 14px;
}

main > section > article > h3 a {
    float: right;
}

main > section > article > ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 26px;
}

main > section > article > ul > li {
    float: left;
    width: 20%;
    height: 100%;
}

main > section > article > ul .thumb {
    width: 150px;
    height: 100px;
}

/* -------------main 끝------------------ */



/* 🎈footer */
footer {
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid #d7d7d7;
    border-top: 2px solid #777777;
    padding: 10px;
}

footer > p {
    font-size: 11.5px;
    color: #585858;
    line-height: 20px;
    margin-left: 10px;
}

footer > p > span {
    display: block;
    margin-top: 6px;
    font-weight: bold;
}

